/* PC・タブレット 1024px以下 */
@media screen and (max-width: 1024px) {
.nav_menu_li {
  font-size: 22px;
  margin-top: 5px;
}
.introduce p{
  margin-left: 50px;
}
.strong {
  font-size: 1.4em;
}
.strong2 {
  font-size: 2em;
}
.carrier ul li {
  font-size: .9em;
}
.services h3 {
  font-size: 1.3em;
}
.services p {
  font-size: .9em;
}
.work-l, .work-r {
  font-size: 4em;
  top: 60%;
}
}
/* タブレット 768px以下*/
@media screen and (max-width: 768px) {
  .nav {
    text-align: center;
  }
  .nav_menu_li {
    font-size: 16px;
  }
  .br-pc {
    display: none;
  }
  .br-sp {
    display: block;
  }
  .sns-wrapper a {
    right: 4px;
  }
  .introduce {
    height: auto;
    padding: 50px;
    writing-mode: horizontal-tb;
  }
.introduce p {
  margin: 0;
  padding-bottom: 50px;
}
.end-name {
  text-align: right;
  display: block;
  font-size: 1.2em;
}
.about {
  height: auto;
}
.carrier {
  margin: 50px auto 0;
  padding: 30px 50px;
}
.carrier ul li {
  font-size: 1em;
}
.skills {
  height: auto;
}
.container-skill {
  padding: 50px 0;
  margin: 0 auto;
  width: 500px;
}
.skill {
  display: block;
  margin-bottom: 50px;
}
.css, .php {
  top: 0;
}
.container-os {
  margin: 0 auto;
  width: 300px;
}
.container-service {
  margin: 0 auto;
  width: 500px;
}
.services {
  display: block;
  padding: 30px 50px;
}
.work-l, .work-r {
  font-size: 3em;
  top: 63%;
}
.work-r {
  right: 0;
}
.form-container {
  width: 750px;
  margin: 0 auto;
}
.fa-angle-double-up {
  right: 5px;
  font-size: 3em;
}
.motto {
  font-size: 2.5em;
}
}
/* 480px以下 */
@media screen and (max-width: 480px) {
  .nav {
    left: 30px;
    text-align: left;
    margin-top: -20px;
  }
  .nav_menu_li {
    font-size: 14px;
    display: block;
  }
  .top-title {
    font-size: 4em;
  }
  .title {
    font-size: 3.5em;
  }
  .title-p {
    font-size: .9em;
  }
  .introduce {
    padding: 50px 0 50px 10px;
  }
  .introduce p {
    font-size: 1.0em;
  }
  .end-name {
    margin-right: 20px;
  }
  .about {
    padding-bottom: 0;
  }
  .about h2 {
    background-color: rgba(47, 79, 79, 0.6);
  }
  .about-container {
    margin: 0;
    border-radius: 0;
    padding: 30px 10px 50px;
  }
  .carrier {
    padding: 30px 25px;
  }
  .carrier ul li {
    font-size: .8em;
  }
  .container-skill {
    width: 400px;
    margin: 0 auto;
  }
  .container-service {
    margin: 0 auto;
    width: 375px;
  }
  .services {
    margin: 25px 0;
    padding: 30px;
  }
  .services h3 {
    font-size: 1.2em;
  }
  .services:last-child {
    margin-bottom: 50px;
  }
  .works ul li {
    float: none;
    width: 100%;
  }
  .work-l, .work-r {
    font-size: 4em;
  }
  .work-l {
    top: 38%;
    left: 25%;
  }
  .work-r {
    top: 73%;
    left: 8%;
  }
  .form-container {
    width: 480px;
    margin: 0 auto;
  }
  label {
    font-size: .7em;
  }
  input, textarea {
    padding: 10px;
  }
  .form-contents {
    padding: 0 15px;
    margin: 0;
  }
  .motto {
    font-size: 1.5em;
  }
}
/* 425px以下 */
@media screen and (max-width: 425px) {
  .header-inner {
    padding: 25px;
  }
  .introduce p {
    font-size: .9em;
  }
  .carrier {
    padding: 30px 10px;
  }
  .carrier ul li {
    font-size: .7em;
  }
  .container-skill {
    width: 375px;
    margin: 0 auto;
  }
  .services h3 {
    font-size: 1em;
  }
  .work {
    background-position: right;
  }
  .work-l, .work-r {
    font-size: 3.5em;
  }
  .work-l {
    left: 27%;
  }
  .work-r {
    left: 0;
  }
  .form-container {
    width: 420px;
    margin: 0 auto;
  }
  label {
    font-size: .6em;
  }
}
/* iphoneX 375px以下 */
@media screen and (max-width: 375px) {
  .top-title {
    font-size: 3em;
    margin-top: 200px;
  }
  .title {
    font-size: 3em;
  }
  .title-p {
    font-size: .7em;
  }
  .introduce {
    padding: 50px 20px;
  }
  .carrier {
    padding: 0;
  }
  .carrier ul li {
    font-size: .6em;
  }
  .miyavi {
    width: 250px;
    height: 260px;
  }
  .sns-wrapper ul li {
    width: 50px;
    height: 50px;
  }
  .sns-wrapper a {
    top: -8px;
    right: 9px;
    font-size: .4em;
  }
  .container-skill {
    width: 325px;
    margin: 0 auto;
  }
  .other h3 {
    font-size: 1em;
  }
  .services {
    padding: 25px;
  }
  .work-l, .work-r {
    font-size: 3em;
  }
  .work-l {
    top: 40%;
    left: 25%;
  }
  .form-container {
    width: 375px;
    margin: 0 auto;
  }
  input::placeholder {
    font-size: .7em;
  }
  textarea::placeholder {
    font-size: .7em;
  }
  input[type="submit"] {
    padding: 10px;
  }
  .motto {
    font-size: 1.3em;
  }
}
/* iphoneSE 320px以下*/
@media screen and (max-width: 320px) {
  .title {
    font-size: 2em;
  }
  .title-p {
    font-size: .5em;
  }
  .introduce {
    padding:50px 30px;
  }
  .introduce p {
    font-size: .5em;
  }
  .carrier ul li {
    font-size: .4em;
  }
  .sns-wrapper ul li {
    width: 40px;
    height: 40px;
  }
  .sns-wrapper a {
    right: 10px;
    font-size: .3em;
  }
  .container-skill {
    width: 280px;
    margin: 0 auto;
  }
  .other h3 {
    font-size: .9em;
  }
  .container-service {
    margin: 0 auto;
    width: 320px;
  }

  .services h3 {
    font-size: 1em;
  }
  .services p {
    font-size: .8em;
  }
  .work-l, .work-r {
    font-size: 2.5em;
  }
  .form-container {
    width: 320px;
    margin: 0 auto;
  }
  .motto {
    font-size: 1em;
  }
}