/* PC・タブレット 1024px以下 */
@media screen and (max-width: 1024px) {
.introduce {
  width: 100%;
}
.introduce p {
  margin-left: 70px;
}
.carrier ul li {
  font-size: .5em;
}
.future h3, .intro-me h3 {
  font-size: 1.1em;
}
.fa-caret-right {
  top: 4px;
}
.fa-chevron-down {
  bottom: -130px;
}
.blog h3 {
  font-size: 1.2em;
}
.blog:before {
  left: 3%;
}
.blog:after {
  right: 3%;
}
.last-message {
  font-size: 3em;
}
}


/* タブレット 768px以下*/
@media screen and (max-width: 768px) {
  .br-pc {
    display: none;
  }
  .br-sp {
    display: block;
  }
  .nav_menu_li {
    font-size: 18px;
  }
  .introduce {
    height: auto;
    writing-mode: horizontal-tb;
  }
.introduce p {
  margin: 0;
  padding-bottom: 50px;
  font-size: 1.5em;
}
.end-name {
  text-align: right;
  display: block;
  font-size: 1.2em;
}
.about {
  height: auto;
}
.future h3, .intro-me h3 {
  font-size: 1em;
}
.carrier ul li {
  font-size: .6em;
}
.nextage p {
  font-size: 1.3em;
}
.fa-chevron-down {
  bottom: -200px;
}
.skills {
  height: auto;
}
.container-skill {
  padding: 50px 0;
}
.skill {
  display: block;
  margin-bottom: 50px;
}
.css, .php {
  top: 0;
}
.blog h3 {
  font-size: 1.3em;
  padding-bottom: 50px;
}

.blog:before {
  top: -25px;
  left: 0;
}
.blog:after {
  top: -25px;
  right: 0;
}
.contact {
  height: auto;
}
.form-container {
  width: 750px;
  margin: 0 auto;
}
footer {
  padding: 20px;
}
.last-message {
  font-size: 1.6em;
  padding: 0 80px;
}
.fa-angle-double-up {
  bottom: 20px;
  right: 20px;
  font-size: 3em;
}
}

/* 480px以下 */
@media screen and (max-width: 480px) {
  .nav {
    left: 30px;
    text-align: left;
  }
  .menu-trigger span  {
    right: 0;
  }
  .nav_menu_li {
    font-size: 14px;
    display: block;
  }
  .title {
    font-size: 3em;
  }
  .title-p {
    font-size: .8em;
  }
  .introduce {
    height: auto;
    padding: 50px 30px;
  }
  .introduce p {
    font-size: 1.0em;
  }

  .about {
    height: auto;
  }
  .intro-container {
    display: flex;
    flex-direction: column;
  }
  .future {
    order: 2;
  }
  .intro-me {
    order: 1;
    margin-top: 50px;
  }

  .future h3, .intro-me h3 {
    font-size: 1.8em;
  }
  .carrier ul li {
    font-size: 1.1em;
  }
  .sp-none {
    display: none!important;
  }
  .nextage p {
    font-size: .8em;
  }

  .container-skill {
    width: 450px;
    margin: 0 auto;
  }
  .blog h3 {
    font-size: .9em;
  }

.blog:before {
  top: -40px;
  left: -30px;
}
.blog:after {
  top: -40px;
  right: -30px;
}

  .form-container {
    width: 480px;
    margin: 0 auto;
  }
  .form-contents {
    padding: 0 25px;
    margin: 0;
  }
  input[type="submit"] {
    margin-bottom: 0;
  }
  footer {
    padding: 15px;
    margin-top: 35px;
  }
  .last-message {
    font-size: 1.5em;
    padding: 0 ;
  }
  .fa-angle-double-up {
    bottom: 30px;
    right: 20px;
    padding: 0;
  }
}

/* 425px以下 */
@media screen and (max-width: 425px) {
  .header-inner {
    padding: 30px;
  }
  .introduce p {
    font-size: .9em;
  }
  .carrier ul li {
    font-size: .9em;
  }
  .nextage {
    padding: 30px 20px;
  }
  .nextage p {
    font-size: .7em;
  }
  .container-skill {
    width: 400px;
    margin: 0 auto;
  }
  .blog:before {
    left: -50px;
  }
  .blog:after {
    right: -50px;
  }
  .form-container {
    width: 425px;
    margin: 0 auto;
  }
}

/* iphoneX 375px以下 */
@media screen and (max-width: 375px) {
  .introduce p {
    font-size: .7em;
  }
  .end-name {
    font-size: 1em;
  }
  .future h3, .intro-me h3 {
    font-size: 1.5em;
  }
  .carrier ul li {
    font-size: .7em;
  }
  .nextage {
    padding: 30px 0;
  }
  .nextage p {
    font-size: .7em;
  }
  .container-skill {
    width: 350px;
    margin: 0 auto;
  }
  .blog h3 {
    font-size: .8em;
  }
  .blog:before {
    left: -60px;
  }
  .blog:after {
    right: -70px;
  }
  .form-container {
    width: 375px;
    margin: 0 auto;
  }
  label {
    font-size: .8em;
  }
  input, textarea {
    padding: 10px 0 10px 10px;
  }
  input::placeholder {
    font-size: .7em;
  }
  textarea::placeholder {
    font-size: .7em;
  }
  input[type="submit"] {
    padding: 10px;
  }
  .last-message {
    font-size: 1.3em;
    text-align: center;
  }
}

/* iphoneSE 320px以下*/
@media screen and (max-width: 320px) {
  .title {
    font-size: 2em;
  }
  .title-p {
    font-size: .5em;
  }
  .introduce {
    padding: 50px 5px;
  }
  .introduce p {
    font-size: .5em;
  }
  .future h3, .intro-me h3 {
    font-size: 1.1em;
  }
  .carrier ul li {
    font-size: .5em;
  }
  .nextage p {
    font-size: .5em;
  }
  .container-skill {
    width: 300px;
    margin: 0 auto;
  }
  .blog h3 {
    font-size: .7em;
    padding-bottom: 25px;
  }
  .blog:before {
    top: -45px;
    left: -70px;
  }
  .blog:after {
    top: -45px;
    right: -80px;
  }
  .form-container {
    width: 320px;
    margin: 0 auto;
  }
  .last-message {
    font-size: 1em;
  }
}
